<div class="motyl-card">
    <div class="header">
      <!-- <div mat-card-avatar></div> -->
      <div class="title">{{title}}</div>
      <div class="subtitle">{{subtitle}}</div>
    </div>
    <img [src]="image" alt="Zdięcie motylia">
    <div>
      <p>
        {{text}}
      </p>
    </div>
    <div *ngIf='cena' >
      <div class="cena" *ngIf='!staraCena'>{{cena}} zł</div>
      <div *ngIf='staraCena' class="cena">
        <div class="staraCena">{{staraCena}} zł</div> 
        <div class="nowaCena">{{cena}} zl</div>
      </div>
    </div>
</div>
