<div>
 <h5>Sprawdź często zadawane pytania</h5>
  <ngb-accordion #acc="ngbAccordion">
      <ngb-panel id="acc-header-panel"><!-- title="FAQ - Często zadawane pytania" -->
        <ng-template ngbPanelTitle> 
          <p style="margin:0;"><i style="margin-right: 0.5rem;" class="fas" [class.fa-caret-right]="acc.activeIds != 'acc-header-panel'" [class.fa-caret-down]="acc.activeIds == 'acc-header-panel'"></i>FAQ - Często zadawane pytania</p>
        </ng-template> 

        <ng-template ngbPanelContent>
          <app-faq></app-faq>
        </ng-template>
      </ngb-panel>
  </ngb-accordion>
<!-- 
<h5 class='margin-top'>Formularż Kontaktowy</h5>
<app-kontakt-form></app-kontakt-form> -->

<h5 class='margin-top'>Skontaktuj się z nami</h5>
<form class="kontakt-form">
  <div class="flex-column">
    <a class="btn btn-outline-primary" href="http://m.me/margaryta.e" ><i class="fab fa-facebook-messenger"></i>fb messenger: margaryta.e</a>
    <a class="btn btn-outline-primary" href="mailto:motyli.bok@gmail.com"><i class="fas fa-at"></i>m.yevtuh@gmail.com</a>
    <a class="btn btn-outline-primary"><i class="fas fa-mobile-alt"></i>535-768-070</a>
  </div> 
  <div class="flex-filler"></div>
</form>
</div>
