<div>
 <h5>Sprawdź częste pytania</h5>
  <ngb-accordion #acc="ngbAccordion">
      <ngb-panel id="acc-header-panel"><!-- title="FAQ - Często zadawane pytania" -->
        <ng-template ngbPanelTitle> 
          <p style="margin:0;"><i style="margin-right: 0.5rem;" class="fas" [class.fa-caret-right]="acc.activeIds != 'acc-header-panel'" [class.fa-caret-down]="acc.activeIds == 'acc-header-panel'"></i>FAQ - Często zadawane pytania"</p>
        </ng-template> 

        <ng-template ngbPanelContent>
          <app-faq></app-faq>
        </ng-template>
      </ngb-panel>
  </ngb-accordion>

<h5 class='margin-top'>Formularż Kontaktowy</h5>
<app-kontakt-form></app-kontakt-form>

<h5 class='margin-top'>Skontaktuj się z nami</h5>
<form class="kontakt-form">
  <p><i class="fab fa-facebook-messenger"></i> messenger: <a href="http://m.me/margaryta.e" target="_blank">Message on Facebook</a></p>
  <p><i class="fab fa-telegram"></i> telegram: <a href="http://t.me/48535768070" target="_blank">Message margaryta.e on Telegram</a></p>
  <p><i class="fas fa-at"></i> mail: m.yevtuh@gmail.com</p>
  <p><i class="fas fa-mobile-alt"></i> tel.: 535-768 070 - Margaryta</p>
</form>
</div>
