<div class="mat-app-background basic-container flex-vertical">
    
  <mat-toolbar color="primary" class="flex-horizontal">

    <h2 class="header-text"><img class="header-image" src="..\..\assets\images\butterfly-2028592.svg"> {{ title }}</h2>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">format_color_fill</mat-icon></button>
    <mat-menu #menu="matMenu">
      <mat-grid-list cols="2" rowHeight="2:2">
          <mat-grid-tile><button mat-mini-fab class="dark-theme-select"  (click)="selectTheme('black-theme');"><mat-icon class="docs-theme-chosen-icon mat-icon material-icons ng-star-inserted" role="img" aria-hidden="true" *ngIf="componentCssClass === 'black-theme'" >check_circle</mat-icon></button></mat-grid-tile>
          <mat-grid-tile><button mat-mini-fab class="light-theme-select" (click)="selectTheme('light-theme');"><mat-icon class="docs-theme-chosen-icon mat-icon material-icons ng-star-inserted" role="img" aria-hidden="true" *ngIf="componentCssClass === 'light-theme'" >check_circle</mat-icon></button></mat-grid-tile>
      </mat-grid-list>
    </mat-menu> -->
    <div class="flex-filler"></div>
    <!--<button mat-button routerLink="/login" *ngIf="!isLogged">go to Login</button>-->
  </mat-toolbar>
    
<app-examples></app-examples>

</div>