.header-image{
    width: 36px;
    height:36px;
}
.mat-toolbar{ flex-wrap: wrap;}
.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0;
}

mat-toolbar > button{
    height: 100%;
}

.central-panel{
    width:1200px; // default
    max-width: 100%; // but no more 100%
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    padding: 1.5rem;
}

//-----------------------big-desktop------------------------
.mobile-hidden {
    display:block;
}
.mobile-visible {
    display:none;
}
.central-panel{
    width:1200px; // default
}

//-----------------------medium-desktop------------------------
@media only screen and (max-width: 1600px) {
    .central-panel{
        width:900px; // default
    }
}

//-----------------------mobile device------------------------
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .mobile-hidden {
        display:none;
    }
    .mobile-visible {
        display:block;
    }
}
