<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <i class="fas fa-dove"></i> Welcome to {{ title }}!
  </h1>
</div>

<h2>Here are somebutton samples:</h2>

<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>

<h2>More redy material design components we can adopt: <a href="https://material.angular.io/components/button/examples">meterial design demo</a></h2>
