<div class="flex-vertical" style="min-height: 300px;">
    <div class="flex-filler"></div>
  
  
    <div class="flex-horizontal flex-0">
      <div class="flex-filler"></div>
      <i class="material-icons">warning</i>
      <p>404 page-not-found!</p>
      <div class="flex-filler"></div>
    </div>
  
    <div class="flex-horizontal flex-0">
      <div class="flex-filler"></div>
      <button mat-button routerLink="/">Go To Home Page</button>
      <div class="flex-filler"></div>
    </div>
  
  
    <div class="flex-filler"></div>
</div>
  