<div class="flex-vertical" style="min-height: 300px;">
    <div class="flex-filler"></div>
  
  
    <div class="flex-horizontal flex-0">
      <div class="flex-filler"></div>
      <i class="fas fa-exclamation-triangle"></i>
      <p>404 page-not-found!</p>
      <div class="flex-filler"></div>
    </div>
  
    <div class="flex-horizontal flex-0">
      <div class="flex-filler"></div>
      <button class="btn btn-lg btn-outline-primary" routerLink="/">Go To Home Page</button>
      <div class="flex-filler"></div>
    </div>
  
  
    <div class="flex-filler"></div>
</div>
  