<div>
    <app-carousel></app-carousel>
    <h3 class="centered">Pomysł na prezent</h3>

    <div class=adaptive-card>
        <img class="card-image" src="assets/images/small/1.jpg"/>
        <p class="centered text-larger">Pomysł na wesele</p>
    </div>
    <div class=adaptive-card>
        <img class="card-image" src="assets/images/small/2.jpg"/>
        <p class="centered text-larger">Prezent na urodziny</p>
    </div>
    <div class=adaptive-card>
        <img class="card-image" src="assets/images/small/3.jpg"/>
        <p class="centered text-larger">Pomyst la wesele</p>
    </div>
    <div class=adaptive-card>
        <img class="card-image" src="assets/images/small/3.jpg"/>
        <p class="centered text-larger">Pomyst la wesele</p>
    </div>
    <div class=adaptive-card>
        <img class="card-image" src="assets/images/small/3.jpg"/>
        <p class="centered text-larger">Pomyst la wesele</p>
    </div>
    <div class=adaptive-card>
        <img class="card-image" src="assets/images/small/3.jpg"/>
        <p class="centered text-larger">Pomyst la wesele</p>
    </div>
    <div class=adaptive-card>
        <img class="card-image" src="assets/images/small/3.jpg"/>
        <p class="centered text-larger">Pomyst la wesele</p>
    </div>
   
    <h3 class="centered" style="flex:0;">Towary</h3>
    <div class=adaptive-card>
        <img class="card-image" src="assets/images/small/3.jpg"/>
        <p class="centered text-larger">Pomyst la wesele</p>
    </div>
    
    <!-- <h2 style="b
    <div class=adaptive-card>
        <img class="card-image" src="assets/images/small/3.jpg"/>
        <p class="centered text-larger">Pomyst la wesele</p>
    </div>ackground-color:lightpink; flex:0;">happy-feedback</h2> -->
</div>