/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  user-select: none;
}

.flex-vertical {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.flex-horizontal {
  display: flex;
}
.flex-filler {
  flex: 1;
}
.flex-shrink-0{
  flex-shrink:0;
}

app-root {
  width: 100%;
  overflow-x:hidden;
}
