/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

.flex-vertical {
    height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.flex-horizontal {
  display: flex;
}
.flex-filler {
  flex: 1;
}
.flex-shrink-0{
  flex-shrink:0;
}

app-root {
  width: 100%;
}
