/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  margin: 0;
//  user-select: none;
}
body, app-root {
  min-height: 100vh;
}

.flex-vertical {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.flex-horizontal {
  display: flex;
}
.flex-filler {
  flex: 1;
}
.flex-shrink-0{
  flex-shrink:0;
}

app-root {
  width: 100%;
  overflow-x:hidden;
}

.hand-poiner{
  cursor: pointer;
}
p{
  text-align: justify;
  text-justify: inter-word;
}